body
{font-family:Lora,
'Helvetica Neue',
Helvetica,Arial,
sans-serif;
  position:relative;
  width:auto;
  height:auto;
  color:#B8B799;
  background-color:#000}
html{width:100%;height:100%}
h1,h2,h3,h4,h5,h6{font-family:Cabin,
'Helvetica Neue',Helvetica,Arial,
sans-serif;font-weight:600;
  margin:0 0 20px;
  letter-spacing:1px;
  text-transform:uppercase}
p{font-size:16px;
  line-height:1.5
;margin:0 170px 0 55px}
@media (min-width:768px)
{p{font-size:18px;line-height:1.6;margin:0 0 35px}}
a{-webkit-transition:all .2s ease-in-out;
  -moz-transition:all .2s ease-in-out;
  transition:all .2s ease-in-out;color:#42dca3}
a:focus,
a:hover{text-decoration:none;color:#1d9b6c}
#mainNav{font-family:Cabin,'Helvetica Neue',
Helvetica,Arial,
sans-serif;margin-bottom:0;
  text-transform:uppercase;
  border-bottom:1px solid rgba(255,255,255,.3);
  background-color:#000}
.masthead{display:table;
  width:100%;height:auto;
  padding:200px 0;text-align:center;
  color:#fff;background:url(/resources/img/wall.jpg) no-repeat bottom center scroll;
  background-color:#000;-webkit-background-size:cover;
  -moz-background-size:cover;-o-background-size:cover;
  background-size:cover}
.masthead .intro-body{display:table-cell;vertical-align:middle}
.masthead .intro-body .brand-heading{font-size:40px}
.masthead .intro-body .intro-text{font-size:18px}
@media (min-width:768px)
{.masthead{height:100%;padding:0}
  .masthead .intro-body .brand-heading{font-size:100px}
  .masthead .intro-body .intro-text{font-size:22px}}

input[type="button"],
.button {
  text-align: center;
}
button,
.button {
  position: absolute;
  left: 65.6%;
  bottom: 27%;
  background: rgba(110, 81, 96, 0.53);
  color: rgba(220, 220, 220, 0.38);
  text-align: center;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 0.65em 3em 0.65em 3em;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-weight: 600;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 0px 8px 13px rgba(0,0,0,0.1),  0px 18px 23px rgba(0,0,0,0.1);
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}
git,
.git {
  position: absolute;
  left: 5%;
  bottom: 2%;
  background: rgba(67, 75, 77, 0.53);
  color: rgba(220, 220, 220, 0.38);
  text-align: center;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 0.2em 1em 0.2em 1em;
  border: 0;
  cursor: pointer;
  outline: 0;
  font-weight: 500;
  -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out;
}





